* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  background: #ffe344;
  font-size: 18px;
  padding: 10px; }
  .header .header-top {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .header-top a.mui-icon {
      position: absolute;
      left: 0;
      font-size: 25px;
      color: #000; }
    .header .header-top .table-list {
      height: 34px;
      border: 1px solid #8f8f94;
      border-radius: 20px;
      overflow: hidden;
      display: flex; }
      .header .header-top .table-list span {
        font-size: 16px;
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 13px; }
        .header .header-top .table-list span.nav-active {
          color: #ffe344;
          background: #333; }
  .header .money-wrap {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #333;
    margin-top: 15px; }
    .header .money-wrap span {
      font-size: 30px;
      font-weight: 600;
      border-right: 1px solid #333; }

.mui-content {
  width: 100%;
  flex: 1;
  background: #fff; }
  .mui-content .mui-slider-item .mui-slider-item-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .mui-content .mui-slider-item .mui-slider-item-inner dl {
      width: 25%;
      text-align: center;
      margin-top: 15px; }
      .mui-content .mui-slider-item .mui-slider-item-inner dl dt {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #eee;
        line-height: 50px;
        text-align: center;
        margin: 0 auto; }
      .mui-content .mui-slider-item .mui-slider-item-inner dl dd {
        font-size: 16px;
        margin-top: 5px; }
      .mui-content .mui-slider-item .mui-slider-item-inner dl.active dt {
        background: #ffe344; }
  .mui-content .slider-line {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center; }
    .mui-content .slider-line span {
      display: inline-block;
      width: 25px;
      height: 2px;
      background: gray;
      margin: 0 3px; }
      .mui-content .slider-line span.active {
        background: #ffe344; }
  .mui-content .select-wrap {
    width: 100%;
    height: 65px;
    line-height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 20px; }
    .mui-content .select-wrap p {
      font-size: 16px; }
    .mui-content .select-wrap span {
      color: #000; }
  .mui-content .msg-wrap {
    width: 100%;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; }
  .mui-content .key-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 3px 15px #eee inset;
    display: flex; }
    .mui-content .key-wrap ul {
      width: 25%; }
      .mui-content .key-wrap ul li {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc; }
      .mui-content .key-wrap ul:last-child li {
        height: 200px;
        line-height: 200px;
        background: #ffe344; }
